<footer class="site-footer">

  <div class="wrapper">
    <div class="copyright">
      <p>Copyright &copy; {{ site.time | date: '%Y' }}

        SF Bitcoin Devs

        . All rights reserved.<p>
      <p>Sponsored by
        <span itemscope itemtype="http://schema.org/Corporation">
          <a itemprop="url" href="https://alto.financial">
            <span itemprop="name">Alto Financial</span>
          </a>
        </span> and

        <span itemscope itemtype="http://schema.org/Corporation">
          <a itemprop="url" href="https://www.garage.co.jp/en/">
            <span itemprop="name">Digital Garage</span>
          </a>
        </span>.
    </div>
  </div>

</footer>
