<header class="site-header">
  <div class="wrapper">
    <a href="/" class="logo">
      <svg height="30" width="200" font-size="20" font-weight="bolder">
        <text x="0" y="30" fill="black">SF Bitcoin Devs</text>
      </svg>
    </a>
    <nav class="site-nav">
      <ul>
        {% if page.path == "index.html" %}
          <li><a href="/" class="link-nav active" id="link-about">About </a></li>
          <li><a href="{{% site.url %}}/projects/" class="link-nav" id="link-projects">Projects</a></li>
          <li><a href="{{% site.url %}}/posts" class="link-nav" id="link-blog">Blog</a></li>
        {% elsif page.path == "projects.html" %}
          <li><a href="/" class="link-nav" id="link-about">About </a></li>
          <li><a href="{{% site.url %}}/projects/" class="link-nav active" id="link-projects">Projects</a></li>
          <li><a href="{{% site.url %}}/posts" class="link-nav" id="link-blog">Blog</a></li>
        {% else %}
          <li><a href="/" class="link-nav" id="link-about">About </a></li>
          <li><a href="{{% site.url %}}/projects/" class="link-nav" id="link-projects">Projects</a></li>
          <li><a href="{{% site.url %}}/posts" class="link-nav active" id="link-blog">Blog</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
</header>