<!DOCTYPE html>
<!-- The Times 03/Jan/2009 Chancellor on brink of second bailout for banks -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      SF Bitcoin Devs |
      {% if page.title %}
        {{ page.title }}
      {% elif section.title %}
        {{ section.title }}
      {% else %}
        Home
      {% endif %}
    </title>
    <meta name="description" content="Website for the San Francisco Bitcoin Developer Meetup.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="SF Bitcoin Devs">
    <link rel="alternate" type="application/atom+xml" title="Atom Feed" href="/atom.xml">
  </head>
  <body>
    <header>
      <a href="/">SF Bitcoin Devs</a>
      <nav>
        <ul>
          <li><a href="/">About</a></li>
          <li><a href="/socratic/">Reading Lists</a></li>
        </ul>
      </nav>
    </header>
    <article>
      {% block content %} {% endblock %}
    </article>
    <footer>
      <p>
        Copyright &copy; 2022

        SF Bitcoin Devs.

        All rights reserved.
      </p>
      <p>
        Sponsored by <a href="https://river.com">River Financial</a>
        and <a href="https://www.garage.co.jp/en/">Digital Garage</a>
      </p>
    </footer>
  </body>
</html>
