<!DOCTYPE html>
<!-- The Times 03/Jan/2009 Chancellor on brink of second bailout for banks -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      SF Bitcoin Devs |
      {% if page.title %}
        {{ page.title }}
      {% elif section.title %}
        {{ section.title }}
      {% else %}
        Home
      {% endif %}
    </title>
    <meta name="description" content="Website for the San Francisco Bitcoin Developer Meetup.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header class="site-header">
      <div class="wrapper">
        <a href="/" class="logo">
          <svg height="30" width="200" font-size="20" font-weight="bolder">
            <text x="0" y="30" fill="black">SF Bitcoin Devs</text>
          </svg>
        </a>
        <nav class="site-nav">
          <ul>
            <li><a href="/" class="link-nav" id="link-about">About </a></li>
            <li><a href="/socratic/" class="link-nav" id="link-blog">Reading Lists</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section class="section">
      <div class="container">
        {% block content %} {% endblock %}
      </div>
    </section>
    <footer class="site-footer">
      <div class="wrapper">
        <div class="copyright">
          <p>
            Copyright &copy; {{ page.year | default(value="") }}

            SF Bitcoin Devs.

            All rights reserved.
          </p>
          <p>
            Sponsored by
            <span itemscope itemtype="http://schema.org/Corporation">
              <a itemprop="url" href="https://river.com">
                <span itemprop="name">River Financial</span>
              </a>
            </span> and

            <span itemscope itemtype="http://schema.org/Corporation">
              <a itemprop="url" href="https://www.garage.co.jp/en/">
                <span itemprop="name">Digital Garage</span>
              </a>
            </span>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
